@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0f0f0;
    --foreground: #1a1a1a;
    --primary: #f0f0f0;
    --primary-foreground: #1a1a1a;
    --secondary: #e5e5e5;
    --secondary-foreground: #1a1a1a;
    --tertiary: #d6d6d6;
    --tertiary-foreground: #1a1a1a;
    --accent: #1ed760;
  }

  .dark {
    --background: #060606;
    --foreground: #e0e0e0;
    --primary: #060606;
    --primary-foreground: #6e6e6e;
    --secondary: #111111;
    --secondary-foreground: #898989;
    --tertiary: #202020;
    --tertiary-foreground: #6e6e6e;
    --accent: #1ed760;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    @apply font-satoshi;
  }
}
